<div class="mb-6 space-y-3">
  @if (store.canAddToCart()) {
    <p class="flex items-center text-sm font-medium text-green-700">
      <ng-icon name="lucideCircleCheck" class="me-1" size="sm" />
      In Stock
    </p>
  } @else {
    <p class="flex items-center text-sm font-medium text-destructive">Out of Stock</p>
  }

  <div class="flex gap-3 items-center">
    <app-quantity-stepper />

    <button hlmBtn class="flex-grow" [disabled]="!store.canAddToCart()" (click)="addToCart($event)">
      <ng-icon name="lucideShoppingCart" class="me-1" />
      Add to Cart
    </button>
  </div>

  <button hlmBtn variant="secondary" class="w-full">
    Buy with <span class="ms-1 font-bold">AuraPay</span>
  </button>
</div>
