<section class="px-4 sm:px-8 md:px-16 lg:px-24 py-10">
  <div class="mb-16 bg-border w-full h-px"></div>

  <div class="flex flex-col items-center gap-4 text-center">
    <!-- Used hlmH2 directive from SpartanUI to ahve the same shape in all project -->
    <h2
      [class]="hlmH2"
      appScrollAnimate="fade-up"
      [animDelay]="100"
      class="${hlmH2} font-bold text-foreground text-3xl md:text-4xl lg:text-5xl"
    >
      {{ 'cta_title' | translate }}
      <span class="text-primary">{{ 'cta_title_accent' | translate }}</span>
    </h2>

    <!-- Used hlmP directive from SpartanUI to ahve the same shape in all project -->
    <p
      appScrollAnimate="fade-up"
      [animDelay]="200"
      class="${hlmP} text-muted-foreground text-base"
      [class]="hlmP"
    >
      {{ 'cta_desc' | translate }}
    </p>

    <div appScrollAnimate="zoom-in" [animDelay]="350">
      <a hlmBtn routerLink="/build" size="lg" class="gap-2 mt-4 px-8 font-mono text-sm">
        <ng-icon name="lucideBolt" />
        {{ 'cta_btn' | translate }}
      </a>
    </div>
  </div>
</section>

<!-- Mo'men Comment :
  1- Add spartanUI typography directive to make sure all app use it
  2- Main logic not touced
-->
