<nav class="mb-6" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 text-sm text-muted-foreground">
    <li class="inline-flex items-center">
      <a routerLink="/products" class="hover:text-primary transition-colors">Catalog</a>
    </li>
    <li>
      <div class="flex items-center ms-1 md:ms-2">
        <span class="mx-2">/</span>
        <span class="text-muted-foreground">{{ store.product()?.category }}</span>
      </div>
    </li>
    <li aria-current="page">
      <div class="flex items-center ms-1 md:ms-2">
        <span class="mx-2">/</span>
        <span class="font-medium text-foreground">{{ store.product()?.name }}</span>
      </div>
    </li>
  </ol>
</nav>
