<section>
  <div class="mb-8">
    <div
      class="flex justify-between items-center mb-2 text-muted-foreground text-xs uppercase tracking-wider"
    >
      Question {{ currentStep() + 1 }} of {{ questions.length }}
    </div>
    <div class="bg-secondary rounded-full w-full h-1 overflow-hidden">
      <div
        class="bg-primary h-full transition-all duration-300 ease-in-out"
        [style.width]="progressWidth()"
      ></div>
    </div>
  </div>

  <div class="flex flex-col gap-12 preview">
    <div class="flex sm:flex-row flex-col sm:justify-between sm:items-center gap-3 preview-header">
      <app-page-header
        badgeText="STEP 02"
        title="AI"
        accentTitle="Interview"
        description="Live Spartan component preview with generated CSS variables applied."
      />
    </div>
  </div>

  <div #questionContainer class="mt-8 min-h-85 relative overflow-hidden">
    @for (question of questions; track question.id) {
      <div #cardElement class="step-card">
        <hlm-card class="flex flex-col bg-secondary border-2 rounded-xl min-h-85 w-full">
          <hlm-card-header class="flex flex-col gap-2.5">
            <div hlmBadge variant="default" class="flex items-center gap-1 w-fit">
              <ng-icon name="lucideMessageSquare"></ng-icon>
              <span class="uppercase">{{ question.label }}</span>
            </div>

            <p class="font-medium text-sm md:text-lg">{{ question.prompt }}</p>
          </hlm-card-header>

          <div hlmCardContent class="flex flex-col flex-1 gap-2.5">
            @if (question.type === 'select') {
              <div
                [class]="
                  (question.options?.length ?? 0) > 4
                    ? 'grid grid-cols-1 md:grid-cols-2 gap-2.5'
                    : 'flex flex-col gap-2.5'
                "
              >
                @for (option of question.options; track $index) {
                  <label hlmLabel class="block cursor-pointer h-full">
                    <input hlmInput type="radio" [name]="question.id" class="sr-only peer w-fit" />
                    <div
                      class="hover:bg-primary peer-checked:bg-primary px-2.5 md:px-5 py-2 md:py-4 border-2 border-primary/25 rounded-xl peer-checked:text-white transition-all duration-200 h-full flex items-center"
                    >
                      <p class="text-sm md:text-base">{{ option }}</p>
                    </div>
                  </label>
                }
              </div>
            }

            @if (question.type === 'text') {
              <label hlmLabel class="flex flex-col flex-1 w-full">
                <textarea
                  class="flex-1 dark:border-primary/25 resize-none"
                  hlmTextarea
                  placeholder="Type your answer..."
                  [name]="question.id"
                  (keyup.enter)="nextStep()"
                ></textarea>
              </label>
            }

            @if (question.type === 'multiselect') {
              <div
                [class]="
                  (question.options?.length ?? 0) > 4
                    ? 'grid grid-cols-1 md:grid-cols-2 gap-2.5'
                    : 'flex flex-col gap-2.5'
                "
              >
                @for (option of question.options; track $index) {
                  <label hlmLabel class="block cursor-pointer h-full">
                    <input hlmInput type="checkbox" class="sr-only peer w-fit" />
                    <div
                      class="hover:bg-primary peer-checked:bg-primary px-5 py-4 border-2 border-primary/25 rounded-xl peer-checked:text-white transition-all duration-200 h-full flex items-center"
                    >
                      <p class="text-sm md:text-base">{{ option }}</p>
                    </div>
                  </label>
                }
              </div>
            }
          </div>
        </hlm-card>
      </div>
    }
  </div>

  <hlm-separator class="mt-8 mb-4 bg" />

  <div class="flex md:flex-row flex-col md:justify-between md:items-center gap-2.5">
    <button
      hlmBtn
      variant="default"
      size="lg"
      [disabled]="currentStep() === 0"
      [class.hidden]="currentStep() === 0"
      (click)="prevStep()"
      class="flex justify-center items-center gap-1 dark:text-white cursor-pointer disabled:cursor-not-allowed disabled:pointer-events-auto"
    >
      <ng-icon name="lucideChevronLeft"></ng-icon>
      <span>Back</span>
    </button>

    @if (currentStep() < questions.length - 1) {
      <button
        hlmBtn
        variant="default"
        size="lg"
        (click)="nextStep()"
        class="flex justify-center items-center gap-1 md:ml-auto dark:text-white cursor-pointer"
      >
        <span>Next</span>
        <ng-icon name="lucideChevronRight"></ng-icon>
      </button>
    } @else {
      <button
        hlmBtn
        variant="default"
        size="lg"
        routerLink="/validation"
        class="font-bold dark:text-white uppercase cursor-pointer"
      >
        validate brand name
      </button>
    }
  </div>
</section>
