<section class="mx-auto my-10 px-4 sm:px-8 md:px-16 lg:px-24 border-y w-[85%]">
  <div class="gap-6 grid grid-cols-2 sm:grid-cols-4 py-6">
    @for (stat of displayStats(); track stat.label; let i = $index) {
      <div
        appScrollAnimate="zoom-in"
        [animDelay]="i * 100"
        class="flex flex-col items-center sm:items-start gap-1 sm:text-left text-center"
      >
        <span
          class="flex items-center gap-1 font-mono font-bold tabular-nums text-primary text-3xl"
        >
          @if (stat.standaloneIcon) {
            <ng-icon [name]="stat.standaloneIcon" size="32" />
          } @else {
            @if (stat.prefixIcon) {
              <ng-icon [name]="stat.prefixIcon" size="22" />
            }
            {{ stat.value }}
            @if (stat.suffixIcon) {
              <ng-icon [name]="stat.suffixIcon" size="22" />
            }
            @if (stat.suffixText) {
              <span class="text-2xl">{{ stat.suffixText }}</span>
            }
          }
        </span>
        <span class="text-muted-foreground text-sm">{{ stat.label }}</span>
      </div>
    }
  </div>
</section>
<!-- Mo'men Comment :
  1- Removed <div class="bg-border w-full h-px"></div> -> as it not useful to make only div for have a border we can make it by CSS class directly
  2- Make the icons by lucide icons not by only plain text to make everything comp in same dir
  3- Change the interface in the ts file to match the icons i use 
  4- Main logic not touced
-->
