<div class="flex flex-col h-full">
  <div class="mb-8 text-center">
    <h1 class="text-3xl font-bold tracking-tight mb-2">
      {{ 'auth_forgot_page_title' | translate }}
    </h1>
    <p class="text-sm text-muted-foreground">
      Enter your email address to receive a verification code.
    </p>
  </div>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="space-y-5 flex-1">
    <div class="space-y-1.5">
      <label hlmLabel for="email" class="text-sm font-semibold">{{
        'auth_usersite_login_email' | translate
      }}</label>
      <input
        hlmInput
        id="email"
        type="email"
        formControlName="email"
        (blur)="forgotPasswordForm.get('email')?.markAsTouched()"
        placeholder="Email Address"
        class="w-full px-4 !py-6 text-base !rounded-xl"
      />
      @if (forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid) {
        <div class="text-xs text-destructive mt-1">{{ 'auth_email_error' | translate }}</div>
      }
    </div>

    <button
      hlmBtn
      class="w-full mt-8 !py-6 text-base font-semibold !rounded-full hover:scale-[1.02] hover:shadow-md active:scale-[0.98] transition-all duration-200"
      type="submit"
      [disabled]="isLoading()"
    >
      @if (!isLoading()) {
        <span>Send Code</span>
      } @else {
        <span>{{ 'auth_forgot_sending' | translate }}</span>
      }
    </button>
  </form>

  <p class="text-center text-sm text-muted-foreground mt-8">
    {{ 'auth_remember_pwd' | translate }}
    <a
      routerLink="../login"
      queryParamsHandling="merge"
      class="font-medium text-primary hover:underline"
      >{{ 'auth_register_signin' | translate }}</a
    >
  </p>
</div>
