@if (totalPages() > 1) {
  <nav hlmPagination class="mt-8">
    <ul hlmPaginationContent>
      <!-- Previous Button -->
      <li hlmPaginationItem>
        <hlm-pagination-previous
          (click)="goTo(currentPage() - 1)"
          [class.pointer-events-none]="currentPage() === 1"
          [class.opacity-50]="currentPage() === 1"
        />
      </li>

      <!-- Page Numbers & Ellipses -->
      @for (page of pages(); track $index) {
        <li hlmPaginationItem>
          @if (page === '...') {
            <hlm-pagination-ellipsis />
          } @else {
            <a hlmPaginationLink [isActive]="page === currentPage()" (click)="goTo($any(page))">
              {{ page }}
            </a>
          }
        </li>
      }

      <!-- Next Button -->
      <li hlmPaginationItem>
        <hlm-pagination-next
          (click)="goTo(currentPage() + 1)"
          [class.pointer-events-none]="currentPage() === totalPages()"
          [class.opacity-50]="currentPage() === totalPages()"
        />
      </li>
    </ul>
  </nav>
}
