@if (totalPages() > 1) {
  <nav hlmPagination class="mt-8">
    <ul hlmPaginationContent>
      <!-- Previous Button -->
      <li hlmPaginationItem>
        <a hlmPaginationPrevious 
           (click)="$event.preventDefault(); goTo(currentPage() - 1)"
           [attr.disabled]="currentPage() === 1 ? true : null"
           [class.pointer-events-none]="currentPage() === 1"
           [class.opacity-50]="currentPage() === 1"
           href="#">
        </a>
      </li>

      <!-- Page Numbers -->
      @for (page of pages(); track page) {
        <li hlmPaginationItem>
          <a hlmPaginationLink 
             [isActive]="page === currentPage()"
             (click)="$event.preventDefault(); goTo(page)"
             href="#">
            {{ page }}
          </a>
        </li>
      }

      <!-- Next Button -->
      <li hlmPaginationItem>
        <a hlmPaginationNext 
           (click)="$event.preventDefault(); goTo(currentPage() + 1)"
           [attr.disabled]="currentPage() === totalPages() ? true : null"
           [class.pointer-events-none]="currentPage() === totalPages()"
           [class.opacity-50]="currentPage() === totalPages()"
           href="#">
        </a>
      </li>
    </ul>
  </nav>
}
